<!DOCTYPE html>
<html lang="ja">
    <head>
        {# 共通ヘッダ #}
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
        {% endblock %}
    </head>
    <body>
        {# コンテンツ部分 #}
        <section class="section">
            <div class="container" id="app">
                {% block content %}
                {% endblock %}
            </div>
        </section>
 
        {# 共通フッター #}
        <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Copyright (C) 2019 amenoyoya. <a target="_blank" href="https://github.com/amenoyoya"><i class="fab fa-github"></i></a>
            </p>
            <p>
                <strong>Bulma</strong> by <a target="_blank" href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a target="_blank" href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        {% if scripts != None %}
            {% for script in scripts %}
                <script src="{{ script }}"></script>
            {% endfor %}
        {% endif %}
    </body>
</html>