{% extends "elements/html5.jinja" %}
     
{% block title %}さくらインターネット SSL申請自動化ツール{% endblock %}
 
{% block head %}
    {{ super() }}
    <meta description="さくらインターネットのSSL申請を自動化">
{% endblock %}
         
{% block content %}
    <h1 class="title">さくらインターネット SSL申請自動化ツール</h1>
    <div class="field">
        <label class="label">ドメイン名</label>
        <div class="control">
            <input class="input is-primary" type="text" placeholder="example.sakura.ne.jp" v-model:value="login_domain">
        </div>
    </div>
    <div class="field">
        <label class="label">パスワード</label>
        <div class="control">
            <input class="input is-primary" type="password" v-model:value="login_password">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-link" @click="login">ログイン</button>
        </div>
    </div>
    <div v-if="screenshot">
        <img :src="screenshot" class="image">
    </div>
    <div class="notification is-warning" v-if="error">
        <pre><code>[[ error ]]</code></pre>
    </div>
{% endblock %}
