{% extends "elements/html5.jinja" %}
     
{% block title %}さくらインターネット SSL申請自動化ツール{% endblock %}
 
{% block head %}
    {{ super() }}
    <meta description="さくらインターネットのSSL申請を自動化">
{% endblock %}
         
{% block content %}
    <h1 class="title">さくらインターネット SSL申請自動化ツール</h1>
{% endblock %}
